spring:
  datasource:
    url: jdbc:mysql://localhost:3306/ssm?serverTimezone=UTC&useUnicode=true&characterEncoding=utf8
    username: root
    password: 123456
    driver-class-name: com.mysql.cj.jdbc.Driver
    type: com.alibaba.druid.pool.DruidDataSource

    # 初始化，最小，最大连接数
    initialSize: 3
    minidle: 3
    maxActive: 18
    # 获取数据库连接等待的超时时间
    maxWait: 60000
    # 配置多久进行一次检测，检测需要关闭的空闲连接 单位毫秒
    timeBetweenEvictionRunsMillis: 60000
    validationQuery: SELECT 1 FROM dual
#    # 配置监控统计拦截的filters,去掉后，监控界面的sql无法统计
#    filters: stat,wall,log4j
    #初始化时执行sql
  cache:
    type: redis
    redis:
      time-to-live: 60000 #缓存超时60s
      cache-null-values: false #是否缓存空值
  redis:
    host: 127.0.0.1
    port: 6379
    pool:
      max-active: 100
      max-idle: 10
      max-wait: 100000
    timeout: 0
#    schema:
#      - classpath:department.sql
#    initialization-mode: always

server:
  servlet:
    context-path: /spt2
  port: 8081
mybatis:
  mapper-locations: classpath:mapper/*mapper.xml
  type-aliases-package: com.springboot.domain
#debug: true